/* Colors */
/*@keyframes articulo{
    0% {transform: scale(1)}
    50% {transform:  scale(1,1.11);}
    100% {transform: scale(1)}
}*/
@media (min-width: 0px) {
  /* ----------- Css Reset ---------------*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* --------------- Estilado Global -----------------------------*/
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #2E2E2E;
  }
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
    padding: 0px 10px;
  }
  h2 {
    font-family: "Roboto Condensed";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding: 20px;
    color: white;
  }
  h3 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
  }
  h5 {
    font-size: 17px;
    color: black;
  }
  /* --------------- Grid Template ---------------*/
  .container-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 200px;
    grid-template-areas: "header" "main" "footer";
  }
  .container-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 200px;
    grid-template-areas: "header" "contacto" "footer";
  }
  /* -------------- Grid Elements -------------*/
  .item_1 {
    grid-area: header;
    background-color: #34495E;
    display: flex;
    flex-direction: column;
  }
  .item_2 {
    grid-area: main;
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
  }
  .item_3 {
    grid-area: footer;
    background-color: #34495E;
    color: white;
    display: flex;
    flex-direction: column;
  }
  .item_4 {
    grid-area: contacto;
    background-color: #2E2E2E;
    color: white;
    display: flex;
    flex-direction: row;
  }
  /*----------- Nav -----------------*/
  .nav__a {
    color: white;
    text-decoration: none;
  }
  .nav__a:hover {
    text-decoration: underline;
  }
  .a__decorated {
    font-weight: bold;
  }
  .nav__li {
    padding: 10px;
  }
  .navar__h1 {
    color: white;
  }
  .logo-images {
    width: 15%;
  }
  /* ------------------------ Main -------------------------*/
  .portada {
    margin: 10px;
    align-items: center;
    justify-items: center;
    color: white;
  }
  .main__h2 {
    color: white;
    margin: 0px 30px;
  }
  .main__h3 {
    color: white;
    margin: 0px 40px;
  }
  .article-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
  }
  .cut-article {
    display: flex;
    flex-flow: column wrap;
    background-color: #E1A100;
    list-style: none;
    border: 5px solid black;
    border-radius: 0px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    width: 95%;
  }
  .brand-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
  }
  .brand-view {
    display: flex;
    flex-flow: row wrap;
    background-color: #E1A100;
    border: 5px solid black;
    border-radius: 20px;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    width: 90%;
  }
  .article__image_view {
    width: 50%;
    height: auto;
  }
  .brand__image {
    width: 90%;
    height: auto;
    padding: 10px;
  }
  /* ----------------------------------- Footer ---------------------------*/
  .contenedor-superior-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }
  .contenedor-inferior-footer {
    display: flex;
    flex-direction: column;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: black;
  }
  /* --------------------- Contact ---------------------------*/
  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .contact-input {
    width: 100%;
  }
  .contact__div {
    display: flex;
    flex-direction: column;
  }
  .contact__input {
    width: 50%;
    margin: 10px;
  }
  /* ------------------------ Article Template --------------------*/
  .article__title {
    font-size: 32px;
    margin: 5px 20px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-decoration: underline;
    color: white;
  }
  .article__div {
    display: flex;
    flex-flow: row wrap;
    margin: 0px 10px;
    color: white;
  }
  .article__h2 {
    margin: 10px;
    color: white;
  }
  .article__image {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 768px) { /*<Tablets*/
  /* --------------- Estilado Global -----------------------------*/
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    padding: 0px 10px;
  }
  h5 {
    font-size: 17px;
    width: 170px;
  }
  a {
    text-decoration: none;
  }
  /* --------------- Grid Template ---------------*/
  .container-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 200px;
    grid-template-areas: "header" "main" "footer";
  }
  /* -------------- Grid Elements -------------*/
  .item_1 {
    display: flex;
    grid-area: header;
    flex-direction: column;
  }
  .item_2 {
    display: flex;
    grid-area: main;
    flex-direction: column;
  }
  .item_3 {
    display: flex;
    grid-area: footer;
    color: white;
    display: flex;
    flex-direction: column;
  }
  /*----------- Nav -----------------*/
  .logo-images {
    width: 10%;
  }
  /* ------------------------ Main -------------------------*/
  .article-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
  }
  .cut-article {
    display: flex;
    flex-flow: column wrap;
    background-color: #E1A100;
    border: 5px solid black;
    border-radius: 0px;
    padding: 10px;
    margin: 10px;
    width: 47%;
  }
  .brand-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  .brand-view {
    display: flex;
    flex-flow: row wrap;
    background-color: #E1A100;
    border: 5px solid black;
    border-radius: 20px;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    width: 23%;
  }
  .article__image_view {
    width: 50%;
    height: auto;
  }
  .brand__image {
    width: 90%;
    height: auto;
    padding: 10px;
  }
  /* ----------------------------------- Footer ---------------------------*/
  .contenedor-superior-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }
  .contenedor-inferior-footer {
    display: flex;
    flex-direction: column;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #000000;
  }
  /* --------------------- Contact ---------------------------*/
  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .contact-input {
    width: 300%;
  }
  textarea {
    width: 300%;
  }
  .contact__div {
    display: flex;
    flex-direction: column;
  }
  .contact__input {
    width: 50%;
    margin: 10px;
  }
  /* ------------------------ Article Template --------------------*/
  .article__title {
    font-size: 32px;
    margin: 5px 20px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-decoration: underline;
  }
  .article__div {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 20px;
  }
  .article__h2 {
    margin: 10px;
  }
}
@media (min-width: 1024px) { /*Pantallas Grandes*/
  /* --------------- Estilado Global -----------------------------*/
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    padding: 0px 10px;
  }
  h5 {
    font-size: 17px;
  }
  a {
    text-decoration: none;
  }
  /* --------------- Grid Template ---------------*/
  .container-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 200px;
    grid-template-areas: "header" "main" "footer";
  }
  /* -------------- Grid Elements -------------*/
  .item_1 {
    display: flex;
    grid-area: header;
    flex-direction: column;
  }
  .item_2 {
    display: flex;
    grid-area: main;
    flex-direction: column;
  }
  .item_3 {
    display: flex;
    grid-area: footer;
    color: white;
    display: flex;
    flex-direction: column;
  }
  /*----------- Nav -----------------*/
  .logo-images {
    width: 10%;
  }
  /* ------------------------ Main -------------------------*/
  .article-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
  }
  .cut-article {
    display: flex;
    flex-flow: column wrap;
    background-color: #E1A100;
    border: 5px solid black;
    border-radius: 0px;
    padding: 10px;
    margin: 10px;
    width: 48%;
  }
  .brand-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  .brand-view {
    display: flex;
    flex-flow: row wrap;
    background-color: #E1A100;
    border: 5px solid black;
    border-radius: 20px;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    width: 23%;
  }
  .article__image_view {
    width: 50%;
    height: auto;
  }
  .brand__image {
    width: 90%;
    height: auto;
    padding: 10px;
  }
  /* ----------------------------------- Footer ---------------------------*/
  .contenedor-superior-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }
  .contenedor-inferior-footer {
    display: flex;
    flex-direction: column;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #000000;
  }
  /* --------------------- Contact ---------------------------*/
  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .contact-input {
    width: 400%;
  }
  textarea {
    width: 400%;
  }
  .contact__div {
    display: flex;
    flex-direction: column;
  }
  .contact__input {
    width: 50%;
    margin: 10px;
  }
  /* ------------------------ Article Template --------------------*/
  .article__title {
    font-size: 32px;
    margin: 5px 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-decoration: underline;
  }
  .article__div {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 30px;
  }
  .article__h2 {
    margin: 10px;
  }
  .article__image {
    width: 50%;
    height: auto;
  }
  /* sass --watch scss/style.scss:css/style.css*/
}

/*# sourceMappingURL=style.css.map */
