@media(min-width: 768px){ /*<Tablets*/
    /* --------------- Estilado Global -----------------------------*/

    h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
        padding: 0px 10px;
    }

    h5{
        font-size: 17px;
        width: 170px;
    }

    a{
        text-decoration: none;
    }

    /* --------------- Grid Template ---------------*/

    .container-principal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 200px;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    /* -------------- Grid Elements -------------*/
    .item_1{
        display: flex;
        grid-area: header;
        flex-direction: column;
    }

    .item_2{
        display: flex;
        grid-area: main;
        flex-direction:column;
    }

    .item_3{
        display: flex;
        grid-area: footer;
        color: white;
        display: flex;
        flex-direction: column;
    }

    /*----------- Nav -----------------*/
    .logo-images{
        width: 10%;
    }

    /* ------------------------ Main -------------------------*/
    .article-container{
        display: flex;
        flex-flow: row wrap;
        justify-content:space-evenly;
        align-content: center;
    }

    .cut-article{
        display: flex;
        flex-flow: column wrap;
        background-color: $forty-color;
        border: 5px solid black;
        border-radius: 0px;
        padding: 10px;
        margin: 10px;
        width: 45%;
        align-content: center;
    }

    .brand-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 100%;
        align-items: center;

    }


    .brand-view{
        display: flex;
        flex-flow: row wrap;
        background-color: $forty-color;
        border: 5px solid black;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        padding: 10px;
        margin: 10px;
        width: 25%;
        height: 300px;
        text-align: center;
    }


    .article__image_view{
        width: 100%;
        height: auto;
    }

    .brand__image{
        width: 90%;
        height: auto;
        padding: 10px
    }

    .yo_formal{
        width: 75%;
        align-items: center;
        border: black solid 5px;
        transition: opacity 1s ease;
    }

    .center{
        margin: 20px;
        text-align: center;
    }


    /* ----------------------------------- Footer ---------------------------*/

    .contenedor-superior-footer{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        padding: 10px;
    }

    .contenedor-inferior-footer{
        display: flex;
        flex-direction: column;
        display: block ;
        text-align: center;
        padding: 10px;
        background-color: #000000;
    }

    /* --------------------- Contact ---------------------------*/
    form{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .contact-input{
        width: 300%;
    }

    textarea{
        width: 300%;
    }
    .contact__div{
        display: flex;
        flex-direction: column;
    }

    .contact__input{
        width: 50%;
        margin: 10px;
    }

    /* ------------------------ Article Template --------------------*/
    .article__title{
        font-size: 32px;
        margin: 5px 20px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: underline;
   }
   
    .article__div{
       display: flex;
       flex-flow: row wrap;
       margin: 5px 20px;
       padding: 20px;
    }

    .article__p{
        width: 100%;
        font-size: 18px;
    }
   
   .article__h2{
       margin: 10px;
    }

}